@charset "UTF-8";

.body {
	background-color: #ececec;
	margin: 0px 0px;
}

.header {
	display: absolute;
	background-color: #9e9e9e;
	width: 100%;
	height: 10%;
}

.fooder {
	display: absolute;
	background-color: #9e9e9e;
	width: 100%;
	height: 10%;
}

.main {
	width: 100%;
	height: 80%;
}

.iframe {
	width: 100%;
	height: 100%;
	frameborder: no;
	border: 0;
	marginwidth: 0;
	marginheight: 0;
	scrolling: no;
	allowtransparency: yes;
}