@charset "UTF-8";

.body {
	background-color: #ececec;
	margin: 0px 0px;
}

.user-list {
	width: 100%;
	height: 100%;
	float: left;
}

.manager-list {
	width: 100%;
	height: 100%;
	float: left;
}

.user-edit {
	position:relative;
	width: 100%;
	height: 100%;
	display: none;
}
.manager-edit {
	position:relative;
	width: 100%;
	height: 100%;
	display: none;
}
.user-box{
	position: absolute;
	width: 100%;
	height: 100%;
	background: #080808;
	filter: alpha(opacity = 50);
	opacity: 0.5;
}
.manager-box{
	position: absolute;
	width: 100%;
	height: 100%;
	background: #080808;
	filter: alpha(opacity = 50);
	opacity: 0.5;
}
.edit {
	position: absolute;
	width: 400px;
	height: 300px;
	background: #ffffff;
	left: 123px;
	top: 123px;
}
.user-add {
	position:relative;
	width: 100%;
	height: 100%;
	display: none;
}
.manager-add {
	position:relative;
	width: 100%;
	height: 100%;
	display: none;
}

.add {
	position: absolute;
	width: 400px;
	height: 300px;
	background: #ffffff;
	left: 123px;
	top: 123px;
}